@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');

body {
  margin: 0;
  color: #1a1b22;
  font-family: Roboto, Arial, sans-serif;
  background: #fff;
}

* {
  box-sizing: border-box;
}
